<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="abb_ros2_control" params="name prefix use_fake_hardware:=true rws_ip rws_port">
    <ros2_control name="${name}" type="system">
      <hardware>
        <!-- ros2_control simulation -->
        <xacro:if value="${use_fake_hardware}">
          <plugin>fake_components/GenericSystem</plugin>
          <param name="fake_sensor_commands">false</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>
        <!-- physical hardware or RobotStudio simulation -->
        <xacro:unless value="${use_fake_hardware}">
          <plugin>abb_hardware_interface/ABBSystemPositionOnlyHardware</plugin>
          <param name="rws_port">${rws_port}</param>
          <param name="rws_ip">${rws_ip}</param>
          <!-- The following parameter is used for non-MultiMove only -->
          <param name="egm_port">6511</param>
          <!-- The following parameters are used for the MultiMove example only -->
          <!-- <param name="rob1egm_port">6511</param> -->
          <!-- <param name="extaxegm_port">6512</param> -->
        </xacro:unless>
      </hardware>
      <joint name="${prefix}joint_1">
        <command_interface name="position">
          <param name="min">-2.44</param>
          <param name="max">2.44</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-6.98</param>
          <param name="max">6.98</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint_2">
        <command_interface name="position">
          <param name="min">-2.61</param>
          <param name="max">2.61</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-11.3</param>
          <param name="max">11.3</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint_3">
        <command_interface name="position">
          <param name="min">-0.18</param>
          <param name="max">-0.01</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-0.2</param>
          <param name="max">0.2</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">-0.07</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint_4">
        <command_interface name="position">
          <param name="min">-6.97</param>
          <param name="max">6.97</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-40.0</param>
          <param name="max">40.0</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
    </ros2_control>
  </xacro:macro>

</robot>
